.TituloPrincipal {
    padding: 32px 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
    color: #FFF;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}